/* 
#3A71FA
#3337DE
#7145F5
#7533DE
#8C33DE
*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #7145f5;
  font-family: "Roboto", sans-serif;
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: #1a1919;
}

.input {
  width: 80%;
  height: 1.5rem;
  border-radius: 2px;
  border: 2px solid #3337de;
  padding-left: 0.5rem;
}

.input:focus {
  outline: 2px solid #7533de;
  border: 2px solid transparent;
}
